body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.colors{
  display: flex;
  flex-wrap: wrap;
}


.colors .colors__list{
  position: relative;
  list-style-type: none;
}

.colors .colors__list--one{
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 25px;
  border-radius: 50%;
}

.colors .colors__list--dash{
  border: 1px dashed #333;
  cursor: pointer;
  transition: all 1s ease;
}

.colors .colors__list--dash:hover{
  background: #eee;
}

.colors .colors__preview{
  position: absolute;
  top: 30px;
  left:30px;
}

.colors .colors__preview--item{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height:20px;
  background: black;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
}

.colors .colors__preview--north{
  transform: translate(0 , -50px);
}

.colors .colors__preview--south{
  transform: translate(0 , 50px);
}

.colors .colors__preview--east{
  transform: translate(50px , 0);

}

.colors .colors__preview--west{
  transform: translate(-50px , 0);
}




.colors .colors__preview--north:hover{
  transform: translate(0 , -55px);
}

.colors .colors__preview--south:hover{
  transform: translate(0 , 55px);
}

.colors .colors__preview--east:hover{
  transform: translate(55px , 0);

}

.colors .colors__preview--west:hover{
  transform: translate(-55px , 0);
}







